In [394]:
class MyFunc():
    number=9490008331
    def __init__ (self,name,age,gender):
        self.myname=name
        self.myage=age
        self.mygender=gender
    def job(self):
        return self.number

In [398]:
func=MyFunc('tagggggrun',31,'male')

In [406]:
f1=MyFunc('','','')

In [408]:
f1.myname

''

In [400]:
func.myname

'tagggggrun'

In [375]:
func.mygender

'male'

In [376]:
func.myage

31

In [377]:
func.number

9490008331

In [378]:
func.job()

9490008331

In [379]:
class Exper(MyFunc):
    def __init__(self,exp):
        self.myexp=exp
        print('hello new class')

In [226]:
myExper=Exper(11)

hello new class

In [227]:
myExper.number

9490008331

In [228]:
myExper.job()

9490008331

In [229]:
myExper.myexp

11

In [419]:
class Exper():
    def __init__(self,exp,auther,stream):
        self.myexp=exp
        self.auther=auther
        self.mystream=stream
        self.data=[exp,auther,stream]
        print('hello new class')
   # def __str__(self):
        #return f"{self.auther} has {self.myexp}"
   # def __len__(self):
        #return self.myexp

In [420]:
myexper=Exper(11,'tarun','ece')

hello new class

In [421]:
print(myexper)

<__main__.Exper object at 0x000001358350A280>

In [348]:
print(myexper)

tarun has 11

In [425]:
myexper.myexp

11

In [426]:
myexper.mystream

'ece'

In [422]:
print(myexper)

<__main__.Exper object at 0x000001358350A280>

In [427]:
len(myexper)

TypeError: object of type 'Exper' has no len()

In [353]:
type(myexper)

__main__.Exper

In [354]:
myexper.data

[11, 'tarun', 'ece']

In [322]:
class Account():
    def __init__(self,owner,balance):
        self.owner= owner
        self.balance = balance
        
    def deposit(self,depositamount):
        self.balance = self.balance + depositamount
        print(f'balance amount is {self.balance}')
    
    
    def withdraw(self, withdrawamount):
        if withdrawamount > self.balance:
            return f"{withdrawamount} is more than balance amount {self.balance}"
        else:
            self.balance= self.balance - withdrawamount
            print(f'balance amount is {self.balance}')
        
    def __str__(self):
        return f"{self.owner} having total account balance {self.balance}"

In [323]:
myacc = Account("tarun",10000)

In [324]:
print(myacc)

tarun having total account balance 10000

In [325]:
myacc.owner

'tarun'

In [326]:
myacc.balance

10000

In [327]:
myacc.withdraw(1000)

balance amount is 9000

In [328]:
myacc.deposit(2000)

balance amount is 11000

In [329]:
myacc.deposit(400)

balance amount is 11400

In [330]:
myacc.withdraw(3500)

balance amount is 7900

In [331]:
print(myacc)

tarun having total account balance 7900

In [332]:
myacc.withdraw(3009)

balance amount is 4891

In [333]:
myacc.withdraw(5000)

'5000 is more than balance amount 4891'

In [334]:
1+2

3

In [342]:
1+"2

SyntaxError: EOL while scanning string literal (<ipython-input-342-c24f72d92186>, line 1)

In [336]:
"2"+"3"

'23'

In [337]:
int("23")+2

25

In [345]:
result= int(input("enter:"))

enter:"6"

ValueError: invalid literal for int() with base 10: '"6"'

In [62]:
x = []
def file_count(fname):
    lines = open(fname).read().splitlines()
    return len(lines)
       
    #print('Total number of lines in the text file: ', file_count(“file.txt”))

In [63]:
file_count('file.txt')

12

In [65]:
list1 = [2, 33, 222, 14, 25]
print(list1[-2])

14

In [89]:
import array as arr

In [93]:
x = arr.array('d', [11.1 , 2.1 ,3.1])
x.append(10.1)
print(x)   #[11.1,2.1,3.1,10.1]
x.extend([8.3,1.3,5.3])
print(x)  #[11.1,2.1,3.1,10.1,8.3,1.3,5.3]
x.insert(1,6.2)
print(x)        # [11.1,2.1,6.2,3.1,10.1,8.3,1.3,5.3]
print(x[0])

array('d', [11.1, 2.1, 3.1, 10.1])
array('d', [11.1, 2.1, 3.1, 10.1, 8.3, 1.3, 5.3])
array('d', [11.1, 6.2, 2.1, 3.1, 10.1, 8.3, 1.3, 5.3])
11.1

In [105]:
x=arr.array('d', [8.1, 2.4, 6.8, 1.1, 7.7, 1.2, 3.6])
print(x.pop())
print(x.pop(3))
x.remove(8.1)
print(x)

3.6
1.1
array('d', [2.4, 6.8, 7.7, 1.2])

In [108]:
class English:
    def greeting(self):      
        print ("Hello")
      
class French:
    def greeting(self):
        print ("Bonjour")

def intro(language):  
    language.greeting()
  
flora  = English()
aalase = French() 
intro(flora)
intro(aalase)

Hello
Bonjour

In [113]:
import numpy as np
a = np.array([1,2,3,4,5,6,7])
p = np.percentile(a, 40)  #Returns the 50th percentile which is also the median
print(p)

3.4000000000000004

In [124]:
def fun(string):
    s1 = string
    s = string[::-1]
    if(s1 == s):
        return True
    else:
        return False

In [131]:
a= fun('naa')

In [132]:
a

False

In [136]:
def sum(num):
    if len(num) == 1:
        return num[0]               #with only one element in the list, the sum result will be equal to the element.
    else:
        return num[0] + sum(num[1:])
print(sum([2]))

2

In [157]:
def Star_triangle(n):
    for x in range(n):
        print(''*(n-x-1)+'*'*(2*x+1))

In [158]:
Star_triangle(3)

*
***
*****

In [166]:
n = int(input("number of terms? "))
n1, n2 = 0, 1
count = 0
 
if n <= 0:
    print("Please enter a positive integer")
elif n == 1:
    print("Fibonacci sequence upto nterms")
    print(n1)
else:
    print("Fibonacci sequence:")
while count < n:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count += 1

number of terms? 1
Fibonacci sequence upto nterms
0
0

In [177]:
num = 15

if num > 1:

    for i in range(2, int(num/2)+1):

        if (num % i) == 0:

            print(num, "is not a prime number")

            break

        else:

            print(num, "is a prime number")

else:

    print(num, "is not a prime number")

15 is a prime number
15 is not a prime number

In [178]:
x =[i for i in range(5)]

In [179]:
x

[0, 1, 2, 3, 4]

In [192]:
a=[1,2,3,4,5,6,7,8]

In [198]:
a[2:5]

[3, 4, 5]

In [207]:
# Write a program in Python to execute the Bubble sort algorithm.

def bs(a):
# a = name of list
   b=len(a)-1
# minus 1 because we always compare 2 adjacent values
   for x in range(b):
        for y in range(b-x):
              a[y]=a[y+1]

In [208]:
a=[32,5,3,6,7,54,87]
bs(a)

In [209]:
a

[87, 87, 87, 87, 87, 87, 87]

In [214]:
# Enter number of terms needednbsp;#0,1,1,2,3,5....
a=int(input("Enter the terms"))
f=0 #first element of series
s=1 #second element of series
if a==0:
    print("The requested series is",f)
else:
    print(f,s,end=" ")
for x in range(2,a): 
    print(next,end=" ")
    f=s
    s=next

Enter the terms8
0 1 <built-in function next> <built-in function next> <built-in function next> <built-in function next> <built-in function next> <built-in function next>

In [231]:
a=int(input("enter number"))
if a!=1:
    for x in range(2,a):
        if(a%x)==0:
            print("not prime")
            break
        elif:
            a
            
            print("Prime")
else:
    print("not prime")

enter number9
Prime
not prime

In [232]:
num = 29

# To take input from the user
#num = int(input("Enter a number: "))

# define a flag variable
flag = False

# prime numbers are greater than 1
if num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

# check if flag is True
if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

29 is a prime number

In [238]:
# no is palindrome
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:242
The number is palindrome!

In [251]:
#Python code to demonstrate naive 
# method to compute gcd ( Loops ) 
 
def computeGCD(x, y): 
    if x > y: 
        small = y 
    else: 
        small = x 
    for i in range(1, small+1): 
        if((x % i == 0) and (y % i == 0)): 
            gcd = i     
    return gcd 
a=21
b=48
# prints 12 
print ("The gcd of 80 and 48 is : ",end=" ") 
print (computeGCD(a,b))

The gcd of 80 and 48 is :  3

In [257]:
year = int(input("Enter a year: "))  
 #Getting value for user 
if (year % 4) == 0:  
   if (year % 100) == 0:  
       if (year % 400) == 0:  
           print("{0} is a leap year".format(year))  
       else:  
           print("{0} is not a leap year".format(year))  
   else:  
       print("{0} is a leap year".format(year))
       # Number will be printed as leap year
else:  
   print("{0} is not a leap year".format(year))
   #Number will be printed as Non Leap Year

Enter a year: 2016
2016 is a leap year