In [394]:
class MyFunc():
    number=9490008331
    def __init__ (self,name,age,gender):
        self.myname=name
        self.myage=age
        self.mygender=gender
    def job(self):
        return self.number

In [398]:
func=MyFunc('tagggggrun',31,'male')

In [406]:
f1=MyFunc('','','')

In [408]:
f1.myname

''

In [400]:
func.myname

'tagggggrun'

In [375]:
func.mygender

'male'

In [376]:
func.myage

31

In [377]:
func.number

9490008331

In [378]:
func.job()

9490008331

In [379]:
class Exper(MyFunc):
    def __init__(self,exp):
        self.myexp=exp
        print('hello new class')

In [226]:
myExper=Exper(11)

hello new class

In [227]:
myExper.number

9490008331

In [228]:
myExper.job()

9490008331

In [229]:
myExper.myexp

11

In [419]:
class Exper():
    def __init__(self,exp,auther,stream):
        self.myexp=exp
        self.auther=auther
        self.mystream=stream
        self.data=[exp,auther,stream]
        print('hello new class')
   # def __str__(self):
        #return f"{self.auther} has {self.myexp}"
   # def __len__(self):
        #return self.myexp

In [420]:
myexper=Exper(11,'tarun','ece')

hello new class

In [421]:
print(myexper)

<__main__.Exper object at 0x000001358350A280>

In [348]:
print(myexper)

tarun has 11

In [425]:
myexper.myexp

11

In [426]:
myexper.mystream

'ece'

In [422]:
print(myexper)

<__main__.Exper object at 0x000001358350A280>

In [427]:
len(myexper)

TypeError: object of type 'Exper' has no len()

In [353]:
type(myexper)

__main__.Exper

In [354]:
myexper.data

[11, 'tarun', 'ece']

In [322]:
class Account():
    def __init__(self,owner,balance):
        self.owner= owner
        self.balance = balance
        
    def deposit(self,depositamount):
        self.balance = self.balance + depositamount
        print(f'balance amount is {self.balance}')
    
    
    def withdraw(self, withdrawamount):
        if withdrawamount > self.balance:
            return f"{withdrawamount} is more than balance amount {self.balance}"
        else:
            self.balance= self.balance - withdrawamount
            print(f'balance amount is {self.balance}')
        
    def __str__(self):
        return f"{self.owner} having total account balance {self.balance}"

In [323]:
myacc = Account("tarun",10000)

In [324]:
print(myacc)

tarun having total account balance 10000

In [325]:
myacc.owner

'tarun'

In [326]:
myacc.balance

10000

In [327]:
myacc.withdraw(1000)

balance amount is 9000

In [328]:
myacc.deposit(2000)

balance amount is 11000

In [329]:
myacc.deposit(400)

balance amount is 11400

In [330]:
myacc.withdraw(3500)

balance amount is 7900

In [331]:
print(myacc)

tarun having total account balance 7900

In [332]:
myacc.withdraw(3009)

balance amount is 4891

In [333]:
myacc.withdraw(5000)

'5000 is more than balance amount 4891'

In [334]:
1+2

3

In [342]:
1+"2

SyntaxError: EOL while scanning string literal (<ipython-input-342-c24f72d92186>, line 1)

In [336]:
"2"+"3"

'23'

In [337]:
int("23")+2

25

In [345]:
result= int(input("enter:"))

enter:"6"

ValueError: invalid literal for int() with base 10: '"6"'